<!DOCTYPE HTML>
<html lang="ru">
    <head>
        <meta charset="UTF-8"/>
        <title>Административный</title>
		<meta name="description" content="Административный"/>
        <script type="text/javascript" src="/js/ponycfg.js"></script>
		<link rel="icon" href="/images/favicon.png" type="image/png"/>
        <link rel="stylesheet" type="text/css" href="/css/admin.css"/>
        <script type="text/javascript" src="/js/browserponies.js"></script>
		<meta name="viewport" content="width=device-width, initial-scale=1"/>
    </head>
    <body>
        <div id="background"></div>
        <table>
            <tbody>
                <tr>
                    <td>
                        <a href="/admin/monitor" target="_blank">Монитор:</a>
                    </td>
                </tr>
                <tr>
                    <td>
                        <iframe src="/admin/monitor?clear"></iframe>
                    </td>
                </tr>
                <tr>
                    <td>Количество:</td>
                </tr>
                <tr>
                    <td>
                        <label>
                            <textarea rows="{{ mods_rows }}" readonly="">{{ mods_str }}</textarea>
                        </label>
                    </td>
                </tr>
                <tr>
                    <td>Настройки:</td>
                </tr>
                <tr>
                    <td>
                        <label>
                            <textarea rows="{{ settings_rows }}" readonly="">{{ settings_str }}</textarea>
                        </label>
                    </td>
                </tr>
                <tr>
                    <td>Пользователи:</td>
                </tr>
                <tr>
                    <td>
                        <label>
                            <textarea rows="{{ users_rows }}" readonly="">{{ users_str }}</textarea>
                        </label>
                    </td>
                </tr>
                <tr>
                    <td>Управление:</td>
                </tr>
                <tr>
                    <td>
                        {% if error == 1 %}
                            <div class="alert">Значение "Пользователь" и "Мод" не может быть пустым!</div>
                        {% endif %}
                        {% if error == 2 %}
                            <div class="alert">Значение "Пользователь" и "Значение" не может быть пустым!</div>
                        {% endif %}
                        {% if error == 3 %}
                            <div class="alert">Значение "Пользователь" не может быть пустым!</div>
                        {% endif %}
                        <form id="form" method="post">
                            <label>
                                <select name="select" form="form" size="1">
                                    <option value="none" hidden="">Выберите тип</option>
                                    <option value="add">Добавить</option>
                                    <option value="change">Изменить</option>
                                    <option value="del">Удалить</option>
                                </select>
                            </label>
                            <label>
                                <input class="text" type="text" name="id" placeholder="ID"/>
                            </label>
                            <label>
                                <input class="text" type="text" name="value" placeholder="Значение"/>
                            </label>
                            <input class="submit" type="submit" value="Отправить" name="submit"/>
                        </form>
                    </td>
                </tr>
                <tr>
                    <td>
                        <form method="post">
                            <input class="submit_50" type="submit" value="Дебаг" name="debug"/>
                            <input class="submit_50" type="submit" value="Перезагрузка" name="res"/>
                            <input class="submit" type="submit" value="Выйти" name="exit"/>
                        </form>
                    </td>
                </tr>
            </tbody>
        </table>
        <script>
            BrowserPonies.start();
        </script>
    </body>
</html>
