<!DOCTYPE HTML>
<html lang="ru">
    <head>
        <meta charset="utf-8"/>
        <link rel="stylesheet" type="text/css" href="../../templates/style.css" />
    </head>
    <body>
        На сервере обработки данных произошла ошибка!<br>
        Пожалуйста свяжитесь со мной для оперативного решения проблемы:<br><br>
        <a href="https://4pda.to/forum/index.php?showuser=8394828" target="_blank">4PDA</a><br>
        <a href="https://discord.gg/WgYWwmpqjA" target="_blank">Discord</a><br>
        <a href="mailto:jwrreo@gmail.com" target="_blank">Gmail</a><br><br>
        И сообщите мне эти данные:<br><br>
        ID: {{user}}<br>
        Time: {{time}}
    </body>
</html>
