<!DOCTYPE HTML>
<html lang="ru">
    <head>
        <meta charset="utf-8"/>
        <link rel="stylesheet" type="text/css" href="../../templates/style.css" />
    </head>
    <body>
        <b>Скачать:</b><br>
        <a href="/files/{{user}}/com.gameloft.android.ANMP.GloftPOHM_armeabi-v7a_{{module}}.apk">
            com.gameloft.android.ANMP.GloftPOHM_armeabi-v7a_{{module}}.apk</a><br>
        <a href="/files/{{user}}/com.gameloft.android.ANMP.GloftPOHM_arm64-v8a_{{module}}.apk">
            com.gameloft.android.ANMP.GloftPOHM_arm64-v8a_{{module}}.apk</a><br>
        <a href="/files/{{user}}/com.gameloft.android.ANMP.GloftPOHM_x86_{{module}}.apk">
            com.gameloft.android.ANMP.GloftPOHM_x86_{{module}}.apk</a><br>
        <a href="/files/{{user}}/com.gameloft.android.ANMP.GloftPOHM_x86_64_{{module}}.apk">
            com.gameloft.android.ANMP.GloftPOHM_x86_64_{{module}}.apk</a>
    </body>
</html>
