<!DOCTYPE HTML>
<html lang="ru">
	<head>
        <meta charset="utf-8"/>
		<title>Спасибо за покупку! Приятной игры!</title>
		<meta name="viewport" content="width=device-width, initial-scale=1"/>
		<meta name="description" content="Спасибо за покупку! Приятной игры!"/>
        <link rel="stylesheet" type="text/css" href="/templates/css/style.css"/>
		<link rel="icon" href="//jwr.exaccess.com/favicon_20220703042540_16x16.png" sizes="16x16" type="image/png"/>
        <link rel="icon" href="//jwr.exaccess.com/favicon_20220703042540_32x32.png" sizes="16x16 32x32" type="image/png"/>
    </head>
    <body>
        <b>Спасибо за покупку! Приятной игры!<br><br>
        Чтобы получить ваш мод перейдите пожалуйста по ссылке:
        <a href="http://185.154.14.51/files/{{user}}/index.html">http://185.154.14.51/files/{{user}}/index.html</a>
        <br><br>
		Ни в коем случае не сообщайте посторонним людям адрес этой страницы или ваш ID!</b>
    </body>
</html>
